<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <!-- Splunk Appender -->
        <SplunkHttp
                name="splunkhttp"
                url="http://localhost:8088"
                token="60777bd2-4c9b-44c3-90b1-ca0c15cb4495"
                host="localhost"
                index="index_1"
                type="raw"
                source="spring_dev"
                sourcetype="log4j"
                messageFormat="text"
                disableCertificateValidation="true">
            <PatternLayout pattern="%m" />
        </SplunkHttp>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="splunkhttp" />
        </Root>
    </Loggers>
</Configuration>
